@import "../../_vars.scss";

.button {
	height: 48px;
	background: map_get($colors, "blue");

	p {
		color: map_get($colors, "lightWhite");
		font-size: 14px;
		line-height: 48px;
		text-align: center;
	}
}