@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

$colors: (
	'blue': #04A0D5,
  'darkGrey': #535657,
  'grey': #ACAEAF,
  'lightWhite': #FCFCFC,
  'background': #F0F0EE,
);